.product_list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}
.product_list article {
    background-color: #fff;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;

}
.product_list article a {
     height: 42px;
     border: 2px solid orangered;
     color: orangered;
     text-decoration: none;
     font-size: 16px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: bold;
     margin-top: 10px;
     transition: all .3s ease-in;
}

.product_list article a:hover {
    outline: 2px solid orangered;
    outline-offset: 3px;
    border: none;
}

.product_list .paginator{
     display: flex;
     justify-content: space-between;
     margin-bottom: 30px;

}

.product_list .paginator button{
    font-size: 1.2rem;
    padding: 6px;
    border: 0;
    background-color: orangered;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;

} 

.product_list .paginator button:hover{
    background-color: rgb(255, 72, 0, .8);
}